body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 35px;
}
p{
    text-align: justify;
}
.orenge_color{
    color: orange;

}
.flexible_container{
    display: flex;
    margin-bottom: 150px;
}
.half_width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.half_width img{
    width: 80%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top_banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.dream_big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience_section{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiance_items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;    
}
#full_stack_web{
    border-left: 7px solid;
    border-image: linear-gradient(yellow, green);
    border-image-slice: 1;
}
#baby_web{
    border-left: 7px solid;
    border-image: linear-gradient(gray, pink);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
}